@(form: Form[(String,String)])(implicit flash: Flash)

@main("sample valid") {



  @helper.form(routes.Authentication.authenticate) {

    @form.globalError.map { error =>
      <p class="error">
        @error.message
      </p>
    }

    @flash.get("success").map { message =>
      <p class="success">
        @message
      </p>
    }

    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-6">
          <h1>login user</h1>

          <p>Please your credentials.</p>
    <p>
      <input type="email" name="NATIONALCODE" placeholder="Email" id="NATIONALCODE" value="@form("NATIONALCODE").value">
    </p>
    <p>
      <input type="password" name="PASSWORD" id="PASSWORD" placeholder="Password">
    </p>
    <p>
      <button type="submit" id="loginbutton">Login</button>
    </p>

    </div>
    </div>
    </div>
  }


}